/* typography */

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Signika:wght@300..700&display=swap');

$font-body: "Signika", sans-serif;
$font-display: "Fleur De Leah", cursive;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font-display;
$display-weight: 900;
$display-spacing: 1rem;
$display-title-size: 4rem;