// _body.scss
@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

html, body {
  @include mixins.simple-grid(2rem);
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  font-family: vars.$font-body;
  font-size: vars.$body-font-size;
  line-height: vars.$line-height-body;
  background-color: vars.$background-color-light;
  color: vars.$primary-color;
  padding-block: 1rem;
}

h1 {
  font-family: vars.$font-display;
  color: vars.$primary-color;
  letter-spacing: vars.$display-spacing;
}

h2 {
    font-family: vars.$font-body;
    color: vars.$primary-color;
    font-size: 2rem;
}

p {
  font-family: vars.$font-body;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}